.visual-refresh {
  ._49fc18ba07c5025f-focusLock {
    >._9c3bea41fd465666-root .c0bea05627c5dc35-outer > .c0bea05627c5dc35-inner {
      padding: 48px 36px 48px 48px;

      >._9c3bea41fd465666-profile {
        border-radius: var(--radius-lg) var(--radius-lg) var(--radius-lg) var(--radius-lg);
        
        >._9c3bea41fd465666-profileBody {
          padding: 4px 32px 0px;
          margin-bottom: 22px;


          /* Connections: Border like from roles | Comment for no borders */
          >.bf424dc3dc4c8775-section.be87fdd576f7cb38-section > ._9bfb9a25604068f0-container._9c3bea41fd465666-profileAppConnections > ._9bfb9a25604068f0-connection{
            padding: 7px;

            border: 1px solid var(--user-profile-border);
            border-radius: var(--radius-sm);
          }

          /* Horizontal layout | Comment for vertical layout */
          >.bf424dc3dc4c8775-section.be87fdd576f7cb38-section > ._9bfb9a25604068f0-container._9c3bea41fd465666-profileAppConnections {
            flex-direction: row; 
            flex-wrap: wrap; 
            align-items: flex-start;
            gap: 10px 16px;

            >._9bfb9a25604068f0-connection > ._9bfb9a25604068f0-connectionInfo {
              min-width: 110px;
              /* If you want to cut the Names for a better layout uncomment this */
              /* max-width: 110px; */

              /* No metadata for better layout | Comment for metadata */
              ._4bd5201c86a2042b-defaultColor.cf48127484dbde85-text-sm/normal _9bfb9a25604068f0-accountNameText,
              >._9bfb9a25604068f0-metadata{
                display: none;
              }
            }
          }
        }
      }

      /* Friends & Server: Border like from roles | Comment for no Borders */
      >._37bfcf3d457db7a9-container > ._37bfcf3d457db7a9-tabBarPanel > ._28fdc02c1d2fcad1-scroller {
        >._89036700569ec527-row,
        >._0a95c8863b3b3f73-row {
          padding: 7px;
          border: 1px solid var(--user-profile-border);
          border-radius: var(--radius-sm);
        }
      } 
    }
  }
}
